@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
{
    background-image:linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/bg.jpg");
    background-size:cover;
    background-position:center;
    color:#fff !important;
}
  .service{
    margin:10px auto;
    text-align: center;
  }
 
  h1{
      text-align:center;
      margin-top:05px;
      padding: 20px 0;
      font-size:30px;
      font-family:sans-serif;
      letter-spacing:1px;
  }
  h1:after
    {
      content:'';
      background:white;
      display:block;
      width:400px;
      height:3px;
      margin: 05px auto;
    }
    h2{
      font-family:sans-serif;
     
    }
    h2:after
      {
        content:'';
        background:white;
        display:block;
        width:70px;
        height:3px;
        margin: 30px auto;
      }
    
   
    .icon
    {
    font-size:40px;
    margin:5px auto;
    padding:17px;
    height:100px;
    width:100px;
    border:10px solid black;
    border-radius:50%;
    }
    .col-md-3:hover{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
    cursor:pointer;
  }
  .visible h99 {
    margin-left:10px;
    padding:15px 15px;
    font-size:25px;
  }
 


  
  
  

 